$borderColor = .02rem solid #c6c6c6
$headBackground = #409EFF
$primaryColor = #0064a9
$darkTextColor = #333333
$nomalTextColor = #666666
$lightTextColor = #999999
manageArea()
    position fixed
    left 200px
    top 1rem
    width 100%
    height 100%
    z-index 10
    background-color $contentBackground